<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josand.sse_fisi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UI.Login.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Home.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.PersonalData.PersonalDataShow"
            android:label="@string/personalData"
            android:parentActivityName=".UI.Home.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Home.Home" />
        </activity>
        <activity
            android:name=".UI.Undergraduate.UndergraduateShow"
            android:label="@string/undergraduateData"
            android:parentActivityName=".UI.Home.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Home.Home" />
        </activity>
        <activity
            android:name=".UI.Postgraduate.PostgraduateShow"
            android:label="@string/postgraduateData"
            android:parentActivityName=".UI.Home.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Home.Home" />
        </activity>
        <activity
            android:name=".UI.LaboralData.LaboralDataShow"
            android:label="@string/laboralData"
            android:parentActivityName=".UI.Home.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Home.Home" />
        </activity>
        <activity
            android:name=".UI.PersonalData.PersonalDataEdit"
            android:label="@string/personalData"
            android:parentActivityName=".UI.PersonalData.PersonalDataShow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.PersonalData.PersonalDataShow" />
        </activity>
        <activity
            android:name=".UI.Undergraduate.UndergraduteEdit"
            android:label="@string/undergraduateData"
            android:parentActivityName=".UI.Undergraduate.UndergraduateShow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Undergraduate.UndergraduateShow" />
        </activity>
        <activity
            android:name=".UI.Postgraduate.PostgraduateEdit"
            android:label="@string/postgraduateData"
            android:parentActivityName=".UI.Postgraduate.PostgraduateShow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Postgraduate.PostgraduateShow" />
        </activity>
        <activity android:name=".UI.LaboralData.LaboralDataEdit"
            android:label="@string/laboralData"
            android:parentActivityName=".UI.LaboralData.LaboralDataShow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LaboralData.LaboralDataShow" />
        </activity>
    </application>

</manifest>